.upimg{
    display: flex;
    position: relative;
    top: 360px;
    right: 290px
   
}

.temp{
    margin-top: 10px;
} 

.step2{

    position: absolute;
}

.title{

    color: #455a64;
}

.template{

    margin-top: 185px;
}